body {
    background: #fff; 
}

.selectHeader {
    display: block;
    float: left;
    margin: 5px 0 10px 0;
    padding: 3px 5px;    
    font-size: 1.5em;
    font-weight: bold;
}

.voteTally {
    display: block;
    float: left;
    margin: 5px 0 0 0;
    padding: 0;   
    width: 100%;       
}

#voteTallyY,
#voteTallyN,
#voteTallyA {
    display: block;
    float: left;
    margin: 0;
    padding: 0 3px;   
    font-size: 16px;
    width: 50%;     
    text-align: center;
}

#voteTallyA {
    clear: both;
    width: 100%;
    border-top: 1px solid #c3c3c3;
}

#voteTallyY b,
#voteTallyN b,
#voteTallyA b {
    display: block;
    float: left;
    clear: both;
    margin: 0;
    padding: 0;       
    font-weight: bold;
    text-transform: uppercase;
}

#voteWrapper {
    display: block;
    float: left;
    margin: 0 0 100px 0;
    padding: 0;    
    width: 100%;    
}

#voteCounter {
    display: block;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 88px;
}

.voteCount {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    margin: 0;
    padding: 0;
    background: #666;
}

/* base.scss */
#council-votes { background: #fff; }

.councillor {
    background: #fff;
    text-align: center;
    height: 330px;
}


.councillor-headshot {
    width: 100%;
    height: 220px;
    max-height: 220px;
    padding: 0;
    background: #fff;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.councillor-details {
    display: block; 
    float: left; 
    width: 100%;
    margin: 0 auto;
    padding: 0 0 10px 0;
    background: #eeeeee;
}

.vote {
    display: block; 
    float: left; 
    width: 100%;
    margin: 0 0 8px 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.6;
    font-weight: 200;
    text-transform: uppercase;    
}
.vote.vote-Yes                                  { color: #fff; background: #008a00; }
.vote.vote-No                                   { color: #fff; background: #e1191e; }
.vote.vote-Abstain                              { color: #fff; background: #767676; }

.ward {
    display: block; 
    float: left; 
    width: 100%;
    margin: 0;
    padding: 0;
    color: #646464;
    font-size: 12px;
    line-height: 1.4;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}

.fullname {
    display: block; 
    float: left; 
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
}

/* councillor headshots */
#councillor-Bowman  .councillor-headshot        { background-image: url(../gfx/bowman.png);        }
#councillor-Gillingham .councillor-headshot     { background-image: url(../gfx/gillingham.png);    }
#councillor-Morantz .councillor-headshot        { background-image: url(../gfx/morantz.png);       }
#councillor-Lukes .councillor-headshot          { background-image: url(../gfx/lukes.png);         }
#councillor-Wyatt .councillor-headshot          { background-image: url(../gfx/wyatt.png);         }
#councillor-Orlikow .councillor-headshot        { background-image: url(../gfx/orlikow.png);       }
#councillor-Allard .councillor-headshot         { background-image: url(../gfx/allard.png);        }
#councillor-Browaty .councillor-headshot        { background-image: url(../gfx/browaty.png);       }
#councillor-Dobson .councillor-headshot         { background-image: url(../gfx/dobson.png);        }
#councillor-Eadie .councillor-headshot          { background-image: url(../gfx/eadie.png);         }
#councillor-Gerbasi .councillor-headshot        { background-image: url(../gfx/gerbasi.png);       }
#councillor-Gilroy .councillor-headshot         { background-image: url(../gfx/gilroy.png);        }
#councillor-Mayes .councillor-headshot          { background-image: url(../gfx/mayes.png);         }
#councillor-Pagtakhan .councillor-headshot      { background-image: url(../gfx/pagtakhan.png);     }
#councillor-Schreyer .councillor-headshot       { background-image: url(../gfx/schreyer.png);      }
#councillor-Sharma .councillor-headshot         { background-image: url(../gfx/sharma.png);        }
/* councillor headshots */


