
/* media-queries.scss */
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

    .selectHeader {
        font-size: 1em;
    }

}